{% extends 'base.html' %}

{% block title %}
IndexPage
{% endblock %}

{% block body %}
<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal">О нас</h1>
      <p class="fs-5 text-muted">Мы разработчики TrashBin решили освежить взгляд на социальную сеть twitter. Данная соц.сеть говно. Именно поэтому команда TrashBin любезно предоставляет вам платформу со свободой слова. "Откуда такая щедрость!?" - спросите вы. А мы ответим: "Вам просто нельзя будет писать! Это будет сайт-микроблог только лишь со мнением разработчика-отца создателя TrashBin!" ББ, олухи!</p>
</div>
{% endblock %}